<% include partials/header.ejs %>

<h1>Account Profile</h1>

<p>Hello <%=user.username%>!</p>
<p><a href="/auth/sign_out"><span class="fa fa-sign-out"></span> Sign out</a></p>

<% include partials/footer.ejs %>