.site-header .col2 {
  padding-top: 15px;
}

@media (min-width: 992px) {
  .site-header .col2 {
    text-align: right;
  }
}

.site-header form {
  margin-bottom: 5px;
}

.site-alert {
  margin-top: 5px;
}

.site-title {
  font-size: 20px;
}